{% extends 'base.html.twig' %}

{% block title %}AppEntityPerson index{% endblock %}

{% block body %}
    <h1>AppEntityPerson index</h1>

    <table class="table dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Ci</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for app_entity_person in app_entity_people %}
            <tr>
                <td>{{ app_entity_person.id }}</td>
                <td>{{ app_entity_person.name }}</td>
                <td>{{ app_entity_person.lastname }}</td>
                <td>{{ app_entity_person.ci }}</td>
                <td>{{ app_entity_person.address }}</td>
                <td>
                    <a href="{{ path('app_entity_person_show', {'id': app_entity_person.id}) }}">show</a>
                    <a href="{{ path('app_entity_person_edit', {'id': app_entity_person.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_entity_person_new') }}">Create new</a>
    <script>
        $(document).ready(function() {
            $('.dataTable').DataTable();
        } );
    </script>
{% endblock %}

